@font-face { 
    font-family: Lobster; 
    src: url("res/Fonts/Lobster-Regular.ttf"); 
}

html{
    margin-left: -7px;
}

* {
    font-family: sans-serif;
}

td {
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}